.MainPage {
    display: flex;
    justify-content: space-between;
}
.Countries {
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
.CountryInfoBlock {
    width: 80%;
}

h2 {
text-align: center
}
